@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --success-color: #2691d9;
    --error-color: #e74c3c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #f5f5f5;
}

#root {
    width: 100%;
    min-height: 100vh;
}
